In [1]:
# 10000 members

# Member_Name
# Age
# State
# Plan
# Gender
# Enrollment_Date

In [2]:
from bs4 import BeautifulSoup
import datapackage
import datetime as dt
import numpy as np
import pandas as pd
import random 
import requests
import string
import weighted_choice

In [3]:
# create dataframe 
members = pd.DataFrame()

In [4]:
# 1. names 
# we will create member names using city names as first names and common surnames. 
# City data pulled from https://datahub.io/core/country-list/r/0.html

# first names (to be taken from US city names)
cities = pd.read_csv('world-cities_csv.csv')
us_cities = cities.query('country=="United States"')
us_cities = list(us_cities['name'])
us_cities = [i.split()[0] for i in us_cities if "-" not in i]

# last names
# scrape webpage to import 1000 most common surnames in the US as a data frame, df
url = 'https://names.mongabay.com/data/1000.html'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
# get surname column as a list, deleting first row
last = list(df[0])
del last[0]

# create full names
names = [random.choice(us_cities).upper() + ' ' + random.choice(last) for i in range(10000)]

# enter into members
members["Member_Name"] = names

In [5]:
# 2. age
members["Age"] = [random.randint(11,100) for i in range(10000)]

In [6]:
# 3. state (company operates in the entire US, but primarily in the NE)
states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

# create weight function (code adapted from https://www.python-course.eu/weighted_choice_and_sample.php)
def weighted_choice(objects, weights):
    """ returns a random element from the sequence of 'objects', 
        the likelihood of the objects is weighted according 
        to the sequence of 'weights', i.e. percentages."""

    weights = np.array(weights, dtype=np.float64)
    sum_of_weights = weights.sum()
    # standardization:
    np.multiply(weights, 1 / sum_of_weights, weights)
    weights = weights.cumsum()
    x = random.random()
    for i in range(len(weights)):
        if x < weights[i]:
            return objects[i]
        
# state weights - Where each number represents the weight attached to each state in the data set. Higher weights
# mean that more members will be from that state (NE region states were given higher weights)
state_weights = [3, 3, 6, 4, 20, 10, 7, 5, 10, 4, 
          1, 1, 10, 5, 3, 2, 8, 3, 8, 15, 
          30, 5, 5, 5, 5, 5, 2, 2, 6, 30, 
          2, 50, 20, 1, 20, 1, 1, 40, 6, 6, 
          1, 4, 10, 1, 6, 25, 5, 5, 4, 1]

# call weighted_choice function
member_state = [weighted_choice(states, state_weights)for i in range(10000)]

# insert into dataframe
members["State"] = member_state

In [7]:
# 4. plan, weighted, where 10% of members have Bronze, 30% have Silver, 40% have Gold, 20% have Platinum
plans = ['Bronze Star', 'Silver Star', 'Gold Star', 'Platinum Star']

# plan weights
plan_weights = [1000,3000,4000,2000]

# run weighted choice funtion and insert into dataframe
mbr_plans = [weighted_choice(plans, plan_weights) for i in range(10000)]
members["Plan"] = mbr_plans

In [8]:
# 5. gender
gender = []
for i in members['Member_Name'].items():
    if i[-1].split()[0][-1] in ["A", "E", "H", "I", "U", "S", "W", "Y"]:
        gender += ['F']
    else:
        gender += ['M']

# insert into dataframe
members["Gender"] = gender

In [9]:
# check gender count
members.groupby("Gender")["Member_Name"].count()

Gender
F    4297
M    5703
Name: Member_Name, dtype: int64

In [10]:
# 6. enrollment date

# create list of all possible dates from January 2010 to March 2020
start = dt.datetime.strptime("2010-01-01", "%Y-%m-%d")
end = dt.datetime.strptime("2020-03-01", "%Y-%m-%d")
date_array = (start + dt.timedelta(days=x) for x in range(0, (end-start).days))
 
date_list = [i.strftime("%Y-%m-%d") for i in date_array]

members['Enrollment_Date'] = [random.choice(date_list) for i in range(10000)]

In [11]:
members.head()

           Member_Name  Age       State           Plan Gender Enrollment_Date
0  FRAMINGHAM QUINTERO   94    Virginia    Silver Star      M      2017-09-16
1         BOWLING WONG   14    Missouri      Gold Star      M      2014-08-11
2       TULSA STEPHENS   74  California    Silver Star      F      2013-08-10
3        FOREST NELSON   48    Maryland    Silver Star      M      2017-03-01
4     SURPRISE RAMIREZ   49    New York  Platinum Star      F      2015-01-12

In [12]:
# SQL connection
from sqlalchemy import create_engine
import pymysql

# estabish connection
engine = create_engine('mysql+pymysql://USER:PASSWORD@HOST')

In [13]:
# show databases
engine.execute("SHOW DATABASES").fetchall()

[('country_data',),
 ('first_schema',),
 ('health_company',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('python_mysql',),
 ('sys',)]

In [14]:
# Use database health_company
engine.execute("USE health_company;")

In [18]:
# create table members (Do this in MySQL)
engine.execute('CREATE TABLE members (\
	Member_ID INT NOT NULL AUTO_INCREMENT,\
	Member_Name VARCHAR(50),\
    Age INT,\
    State VARCHAR(20),\
    Plan VARCHAR(20),\
    Gender VARCHAR(1),\
    Enrollment_Date DATE,\
    PRIMARY KEY(Member_ID)\
    ) AUTO_INCREMENT = 100000;')

In [19]:
# write to members table
members.to_sql('members', con=engine, if_exists='append', index=False)

In [20]:
# select all from members
engine.execute("select * from members").fetchall()

[(100000, 'FRAMINGHAM QUINTERO', 94, 'Virginia', 'Silver Star', 'M', datetime.date(2017, 9, 16)),
 (100001, 'BOWLING WONG', 14, 'Missouri', 'Gold Star', 'M', datetime.date(2014, 8, 11)),
 (100002, 'TULSA STEPHENS', 74, 'California', 'Silver Star', 'F', datetime.date(2013, 8, 10)),
 (100003, 'FOREST NELSON', 48, 'Maryland', 'Silver Star', 'M', datetime.date(2017, 3, 1)),
 (100004, 'SURPRISE RAMIREZ', 49, 'New York', 'Platinum Star', 'F', datetime.date(2015, 1, 12)),
 (100005, 'PORT THOMPSON', 97, 'Virginia', 'Gold Star', 'M', datetime.date(2020, 1, 28)),
 (100006, 'DRACUT MONTGOMERY', 28, 'North Carolina', 'Gold Star', 'M', datetime.date(2011, 6, 14)),
 (100007, 'WEST HARRIS', 21, 'Arkansas', 'Silver Star', 'M', datetime.date(2015, 12, 22)),
 (100008, 'TRENTON MAYER', 79, 'Nevada', 'Platinum Star', 'M', datetime.date(2014, 3, 20)),
 (100009, 'BROWNWOOD CISNEROS', 87, 'Ohio', 'Bronze Star', 'M', datetime.date(2016, 3, 7)),
 (100010, 'FREDERICKSON ATKINS', 30, 'West Virginia', 'Gold Star', 'M', datetime.date(2015, 7, 7)),
 (100011, 'FRANKFORT LEBLANC', 47, 'New York', 'Platinum Star', 'M', datetime.date(2015, 7, 26)),
 (100012, 'CLEARWATER ESPARZA', 47, 'Colorado', 'Silver Star', 'M', datetime.date(2018, 7, 14)),
 (100013, 'MEHLVILLE CRANE', 62, 'Alaska', 'Silver Star', 'F', datetime.date(2018, 11, 11)),
 (100014, 'STERLING KOCH', 78, 'Florida', 'Silver Star', 'M', datetime.date(2017, 4, 13)),
 (100015, 'WEST BURNS', 90, 'Maryland', 'Silver Star', 'M', datetime.date(2017, 4, 8)),
 (100016, 'HUNTINGTON WANG', 41, 'New Mexico', 'Bronze Star', 'M', datetime.date(2018, 10, 29)),
 (100017, 'STERLING TURNER', 50, 'Ohio', 'Gold Star', 'M', datetime.date(2014, 6, 1)),
 (100018, 'SAINT ADAMS', 33, 'Maryland', 'Bronze Star', 'M', datetime.date(2010, 9, 24)),
 (100019, 'BROOKLINE GROSS', 98, 'Maine', 'Gold Star', 'F', datetime.date(2019, 5, 9)),
 (100020, 'BETHLEHEM GIBBS', 25, 'New Hampshire', 'Silver Star', 'M', datetime.date(2019, 2, 28)),
 (100021, 'LARGO SCHAEFER', 91, 'Washington', 'Silver Star', 'M', datetime.date(2013, 4, 2)),
 (100022, 'NEW ESQUIVEL', 34, 'New York', 'Platinum Star', 'F', datetime.date(2019, 5, 11)),
 (100023, 'KEN WOODARD', 59, 'New York', 'Silver Star', 'M', datetime.date(2019, 9, 26)),
 (100024, 'WEST HOWE', 66, 'New Jersey', 'Gold Star', 'M', datetime.date(2012, 3, 3)),
 (100025, 'ARROYO KHAN', 79, 'New York', 'Gold Star', 'M', datetime.date(2012, 12, 28)),
 (100026, 'CAMBRIDGE VALENTINE', 68, 'Virginia', 'Gold Star', 'F', datetime.date(2017, 5, 14)),
 (100027, 'TALLMADGE KNAPP', 59, 'Connecticut', 'Platinum Star', 'F', datetime.date(2013, 8, 3)),
 (100028, 'BOULDER MEADOWS', 99, 'South Carolina', 'Silver Star', 'M', datetime.date(2015, 8, 11)),
 (100029, 'MURRAY COFFEY', 64, 'New Jersey', 'Bronze Star', 'F', datetime.date(2018, 10, 2)),
 (100030, 'DICKINSON STRICKLAND', 25, 'Texas', 'Gold Star', 'M', datetime.date(2010, 11, 22)),
 (100031, 'KINGSTON MOSS', 80, 'Pennsylvania', 'Platinum Star', 'M', datetime.date(2016, 12, 1)),
 (100032, 'CLIFTON CHRISTIAN', 81, 'Illinois', 'Gold Star', 'M', datetime.date(2017, 7, 12)),
 (100033, 'FLORENCE BERNARD', 35, 'California', 'Platinum Star', 'F', datetime.date(2015, 12, 17)),
 (100034, 'WOODSTOCK MARTIN', 57, 'New York', 'Silver Star', 'M', datetime.date(2013, 6, 6)),
 (100035, 'BATAVIA SALINAS', 11, 'Illinois', 'Platinum Star', 'F', datetime.date(2012, 4, 15)),
 (100036, 'BRYANT GREEN', 39, 'Ohio', 'Gold Star', 'M', datetime.date(2011, 12, 11)),
 (100037, 'LAUREL SOLOMON', 18, 'Iowa', 'Bronze Star', 'M', datetime.date(2019, 11, 19)),
 (100038, 'FRANKLIN JUAREZ', 35, 'Virginia', 'Platinum Star', 'M', datetime.date(2018, 8, 12)),
 (100039, 'PLEASANTON FRYE', 34, 'New York', 'Bronze Star', 'M', datetime.date(2016, 6, 26)),
 (100040, 'ELMWOOD CARPENTER', 53, 'Illinois', 'Platinum Star', 'M', datetime.date(2012, 7, 2)),
 (100041, 'TIFFIN SELLERS', 32, 'Nevada', 'Platinum Star', 'M', datetime.date(2017, 1, 7)),
 (100042, 'TROTWOOD JAMES', 99, 'Pennsylvania', 'Silver Star', 'M', datetime.date(2011, 12, 2)),
 (100043, 'NORTH BECKER', 69, 'New Hampshire', 'Gold Star', 'F', datetime.date(2013, 1, 26)),
 (100044, 'DIAMOND MCCANN', 100, 'Pennsylvania', 'Gold Star', 'M', datetime.date(2012, 9, 11)),
 (100045, 'CHATSWORTH SIMMONS', 62, 'Texas', 'Platinum Star', 'F', datetime.date(2012, 9, 16)),
 (100046, 'CORTLAND MATHEWS', 25, 'Ohio', 'Silver Star', 'M', datetime.date(2010, 11, 12)),
 (100047, 'NEWARK VELASQUEZ', 50, 'Pennsylvania', 'Silver Star', 'M', datetime.date(2018, 2, 8)),
 (100048, 'HILLIARD CAREY', 31, 'Texas', 'Gold Star', 'M', datetime.date(2010, 12, 5)),
 (100049, 'HOLDEN SCHMITT', 59, 'Arizona', 'Silver Star', 'M', datetime.date(2018, 7, 5)),
 (100050, 'WILLIMANTIC TRAN', 91, 'Pennsylvania', 'Platinum Star', 'M', datetime.date(2016, 6, 19)),
 (100051, 'ROSSVILLE PACE', 64, 'New Hampshire', 'Platinum Star', 'F', datetime.date(2019, 2, 9)),
 (100052, 'CORAL BARRY', 33, 'California', 'Gold Star', 'M', datetime.date(2014, 6, 25)),
 (100053, 'LA HESS', 94, 'Pennsylvania', 'Silver Star', 'F', datetime.date(2015, 3, 22)),
 (100054, 'SOCASTEE HANNA', 26, 'California', 'Gold Star', 'F', datetime.date(2020, 2, 14)),
 (100055, 'SILVER ROBINSON', 20, 'Alaska', 'Bronze Star', 'M', datetime.date(2019, 7, 6)),
 (100056, 'DEKALB JOHNSTON', 46, 'New Jersey', 'Platinum Star', 'M', datetime.date(2010, 2, 11)),
 (100057, 'LEALMAN ATKINS', 73, 'Massachusetts', 'Gold Star', 'M', datetime.date(2017, 12, 7)),
 (100058, 'SAMMAMISH KNIGHT', 88, 'Virginia', 'Bronze Star', 'F', datetime.date(2016, 7, 11)),
 (100059, 'LINDEN HENRY', 12, 'Illinois', 'Platinum Star', 'M', datetime.date(2017, 8, 5)),
 (100060, 'FOUNTAIN DALTON', 18, 'New York', 'Platinum Star', 'M', datetime.date(2017, 12, 31)),
 (100061, 'OCEAN MCLEAN', 20, 'New Jersey', 'Bronze Star', 'M', datetime.date(2020, 2, 26)),
 (100062, 'NORTH PENA', 80, 'Maryland', 'Platinum Star', 'F', datetime.date(2010, 10, 22)),
 (100063, 'SIERRA ARMSTRONG', 74, 'California', 'Gold Star', 'F', datetime.date(2011, 2, 27)),
 (100064, 'WILLIAMSPORT KELLER', 74, 'Oregon', 'Gold Star', 'M', datetime.date(2018, 8, 3)),
 (100065, 'EAST TERRY', 88, 'North Carolina', 'Gold Star', 'M', datetime.date(2018, 8, 8)),
 (100066, 'WATERLOO BENTON', 22, 'Virginia', 'Silver Star', 'M', datetime.date(2019, 8, 17)),
 (100067, 'COLUMBUS AGUIRRE', 62, 'Minnesota', 'Gold Star', 'F', datetime.date(2014, 12, 28)),
 (100068, 'DELRAY LEVY', 86, 'Arizona', 'Platinum Star', 'F', datetime.date(2014, 5, 24)),
 (100069, 'URBANA PERALTA', 71, 'Alaska', 'Silver Star', 'F', datetime.date(2012, 8, 3)),
 (100070, 'FOLSOM OLSON', 36, 'Kansas', 'Silver Star', 'M', datetime.date(2011, 7, 15)),
 (100071, 'LENOIR CHAPMAN', 38, 'New Jersey', 'Platinum Star', 'M', datetime.date(2018, 11, 25)),
 (100072, 'EUGENE GALINDO', 78, 'Vermont', 'Gold Star', 'F', datetime.date(2012, 11, 9)),
 (100073, 'SANTA MENDEZ', 14, 'Virginia', 'Silver Star', 'F', datetime.date(2015, 1, 15)),
 (100074, 'BIRMINGHAM SPENCE', 72, 'New Jersey', 'Silver Star', 'M', datetime.date(2010, 8, 17)),
 (100075, 'PRAIRIE WATKINS', 19, 'Washington', 'Gold Star', 'F', datetime.date(2015, 8, 19)),
 (100076, 'MAITLAND WALL', 95, 'Maryland', 'Gold Star', 'M', datetime.date(2013, 12, 21)),
 (100077, 'LARAMIE MITCHELL', 56, 'Pennsylvania', 'Bronze Star', 'F', datetime.date(2016, 4, 11)),
 (100078, 'LARGO HOLLAND', 65, 'Pennsylvania', 'Silver Star', 'M', datetime.date(2017, 4, 13)),
 (100079, 'SACO HURST', 83, 'Ohio', 'Gold Star', 'M', datetime.date(2014, 9, 13)),
 (100080, 'NORTH NAVA', 34, 'Maryland', 'Platinum Star', 'F', datetime.date(2010, 12, 30)),
 (100081, 'CALVERTON MCMILLAN', 96, 'Massachusetts', 'Platinum Star', 'M', datetime.date(2014, 12, 25)),
 (100082, 'EDINA WILLIS', 56, 'Pennsylvania', 'Gold Star', 'F', datetime.date(2017, 10, 1)),
 (100083, 'KENT HESS', 53, 'Pennsylvania', 'Silver Star', 'M', datetime.date(2019, 11, 19)),
 (100084, 'MILWAUKEE GARNER', 61, 'Massachusetts', 'Silver Star', 'F', datetime.date(2017, 7, 22)),
 (100085, 'SAN PITTMAN', 45, 'California', 'Gold Star', 'M', datetime.date(2018, 10, 24)),
 (100086, 'ARROYO BARRY', 90, 'Massachusetts', 'Silver Star', 'M', datetime.date(2010, 6, 21)),
 (100087, 'FORT KELLEY', 73, 'Virginia', 'Gold Star', 'M', datetime.date(2013, 12, 16)),
 (100088, 'ELYRIA STARK', 76, 'Washington', 'Bronze Star', 'F', datetime.date(2013, 10, 18)),
 (100089, 'NUTLEY CISNEROS', 74, 'Virginia', 'Gold Star', 'F', datetime.date(2015, 9, 13)),
 (100090, 'BADGER MACK', 23, 'New York', 'Silver Star', 'M', datetime.date(2011, 5, 25)),
 (100091, 'UKIAH ROGERS', 19, 'Florida', 'Gold Star', 'F', datetime.date(2012, 5, 1)),
 (100092, 'FAIRFIELD HOPKINS', 27, 'Colorado', 'Gold Star', 'M', datetime.date(2013, 4, 3)),
 (100093, 'OCEANSIDE HUDSON', 82, 'New York', 'Platinum Star', 'F', datetime.date(2010, 4, 15)),
 (100094, 'MARGATE ELLIOTT', 19, 'Pennsylvania', 'Gold Star', 'F', datetime.date(2011, 1, 11)),
 (100095, 'ESTELLE MONTGOMERY', 33, 'New Jersey', 'Platinum Star', 'F', datetime.date(2019, 5, 13)),
 (100096, 'LEBANON WALTER', 49, 'Ohio', 'Gold Star', 'M', datetime.date(2015, 5, 5)),
 (100097, 'BUFFALO BRYANT', 15, 'Maryland', 'Platinum Star', 'M', datetime.date(2020, 1, 5)),
 (100098, 'PALATINE PAYNE', 71, 'New York', 'Silver Star', 'F', datetime.date(2012, 2, 14)),
 (100099, 'HENDERSON ONEILL', 72, 'New Jersey', 'Silver Star', 'M', datetime.date(2011, 3, 25)),
 (100100, 'HUNTINGTON BOWMAN', 41, 'Alabama', 'Gold Star', 'M', datetime.date(2019, 4, 5)),
 (100101, 'HOLTSVILLE CHAMBERS', 88, 'Massachusetts', 'Bronze Star', 'F', datetime.date(2013, 5, 29)),
 (100102, 'DOVER NORRIS', 35, 'California', 'Gold Star', 'M', datetime.date(2012, 1, 5)),
 (100103, 'REDFORD HARDY', 64, 'Colorado', 'Platinum Star', 'M', datetime.date(2013, 5, 16)),
 (100104, 'MEADOW HICKS', 94, 'Maine', 'Gold Star', 'F', datetime.date(2014, 5, 7)),
 (100105, 'GALESBURG JIMENEZ', 29, 'Colorado', 'Gold Star', 'M', datetime.date(2015, 3, 23)),
 (100106, 'IMMOKALEE LIN', 30, 'New York', 'Gold Star', 'F', datetime.date(2017, 3, 29)),
 (100107, 'SANDY BRYANT', 100, 'Maine', 'Gold Star', 'F', datetime.date(2010, 12, 12)),
 (100108, 'WILLIMANTIC DAVIS', 88, 'New Hampshire', 'Silver Star', 'M', datetime.date(2013, 8, 13)),
 (100109, 'FARGO MCINTOSH', 81, 'Kentucky', 'Silver Star', 'M', datetime.date(2011, 12, 20)),
 (100110, 'PARKER WEBSTER', 61, 'New York', 'Gold Star', 'M', datetime.date(2017, 1, 6)),
 (100111, 'MUSKOGEE MORALES', 36, 'Pennsylvania', 'Silver Star', 'F', datetime.date(2010, 5, 31)),
 (100112, 'SHREWSBURY BOWMAN', 40, 'Texas', 'Silver Star', 'F', datetime.date(2015, 5, 31)),
 (100113, 'CAPE MEJIA', 58, 'Alaska', 'Gold Star', 'F', datetime.date(2012, 10, 25)),
 (100114, 'SYOSSET ROLLINS', 30, 'Virginia', 'Gold Star', 'M', datetime.date(2015, 5, 9)),
 (100115, 'WEST PETERSEN', 58, 'Maryland', 'Silver Star', 'M', datetime.date(2011, 11, 14)),
 (100116, 'MERCER HODGES', 23, 'Alabama', 'Gold Star', 'M', datetime.date(2014, 4, 6)),
 (100117, 'AVONDALE AGUIRRE', 71, 'New York', 'Silver Star', 'F', datetime.date(2016, 11, 6)),
 (100118, 'WILLIAMSTOWN DAY', 57, 'Pennsylvania', 'Silver Star', 'M', datetime.date(2018, 5, 7)),
 (100119, 'COTTAGE EVERETT', 31, 'North Carolina', 'Gold Star', 'F', datetime.date(2013, 3, 27)),
 (100120, 'FITCHBURG NGUYEN', 66, 'North Carolina', 'Gold Star', 'M', datetime.date(2013, 5, 18)),
 (100121, 'WHITEHALL GREEN', 14, 'Maine', 'Gold Star', 'M', datetime.date(2012, 1, 9)),
 (100122, 'RIO FULLER', 88, 'Washington', 'Gold Star', 'M', datetime.date(2010, 11, 27)),
 (100123, 'AVENTURA PADILLA', 51, 'Nebraska', 'Gold Star', 'F', datetime.date(2010, 12, 2)),
 (100124, 'FORT ZHANG', 72, 'New York', 'Bronze Star', 'M', datetime.date(2016, 8, 12)),
 (100125, 'BURLINGTON PHELPS', 26, 'New York', 'Bronze Star', 'M', datetime.date(2019, 3, 10)),
 (100126, 'MARTINEZ WHITE', 14, 'Connecticut', 'Platinum Star', 'M', datetime.date(2018, 9, 1)),
 (100127, 'SAN FREEMAN', 73, 'Arizona', 'Platinum Star', 'M', datetime.date(2017, 4, 5)),
 (100128, 'EAST MCBRIDE', 74, 'Massachusetts', 'Silver Star', 'M', datetime.date(2011, 6, 4)),
 (100129, 'ROSAMOND ALEXANDER', 97, 'North Carolina', 'Bronze Star', 'M', datetime.date(2017, 11, 21)),
 (100130, 'SACO GOOD', 45, 'Massachusetts', 'Gold Star', 'M', datetime.date(2018, 11, 5)),
 (100131, 'GREENVILLE SERRANO', 73, 'Illinois', 'Bronze Star', 'F', datetime.date(2014, 2, 8)),
 (100132, 'YUCCA FISCHER', 76, 'New York', 'Silver Star', 'F', datetime.date(2017, 3, 16)),
 (100133, 'IVES PARKER', 59, 'Alabama', 'Gold Star', 'F', datetime.date(2016, 11, 16)),
 (100134, 'MCKINLEYVILLE MEDINA', 94, 'North Carolina', 'Gold Star', 'F', datetime.date(2016, 3, 30)),
 (100135, 'BROWNWOOD COHEN', 50, 'Virginia', 'Silver Star', 'M', datetime.date(2011, 7, 16)),
 (100136, 'YOUNGSTOWN PERSON', 39, 'New Jersey', 'Platinum Star', 'M', datetime.date(2017, 7, 1)),
 (100137, 'SUMMIT CORONA', 16, 'Minnesota', 'Platinum Star', 'M', datetime.date(2018, 11, 3)),
 (100138, 'WOODLAND TREJO', 76, 'Kentucky', 'Gold Star', 'M', datetime.date(2017, 2, 5)),
 (100139, 'SOUTH AHMED', 64, 'Iowa', 'Gold Star', 'F', datetime.date(2010, 1, 18)),
 (100140, 'CHAMPLIN PAUL', 88, 'New York', 'Silver Star', 'M', datetime.date(2016, 8, 22)),
 (100141, 'ROSEMOUNT GREENE', 53, 'Alabama', 'Gold Star', 'M', datetime.date(2011, 7, 29)),
 (100142, 'SALEM ESPARZA', 64, 'New Jersey', 'Bronze Star', 'M', datetime.date(2012, 5, 3)),
 (100143, 'SANFORD STEWART', 33, 'South Carolina', 'Silver Star', 'M', datetime.date(2013, 11, 30)),
 (100144, 'PEARL COLLINS', 45, 'Massachusetts', 'Bronze Star', 'M', datetime.date(2011, 8, 16)),
 (100145, 'SAN POOLE', 76, 'Maine', 'Gold Star', 'M', datetime.date(2019, 3, 23)),
 (100146, 'WEST MCINTYRE', 17, 'Maine', 'Gold Star', 'M', datetime.date(2010, 12, 4)),
 (100147, 'SUN GRAHAM', 50, 'West Virginia', 'Platinum Star', 'M', datetime.date(2014, 11, 10)),
 (100148, 'ELIZABETH KLINE', 95, 'New Jersey', 'Silver Star', 'F', datetime.date(2016, 1, 29)),
 (100149, 'SANFORD BAUTISTA', 81, 'New York', 'Bronze Star', 'M', datetime.date(2019, 9, 29)),
 (100150, 'HOBBS CHAVEZ', 30, 'Pennsylvania', 'Platinum Star', 'F', datetime.date(2011, 3, 15)),
 (100151, 'BAYONET WILCOX', 71, 'Texas', 'Gold Star', 'M', datetime.date(2014, 6, 20)),
 (100152, 'FRAMINGHAM GARNER', 41, 'Delaware', 'Gold Star', 'M', datetime.date(2017, 12, 23)),
 (100153, 'EASTHAMPTON HILL', 18, 'South Carolina', 'Gold Star', 'M', datetime.date(2016, 9, 15)),
 (100154, 'STATE JARVIS', 40, 'New York', 'Silver Star', 'F', datetime.date(2010, 5, 22)),
 (100155, 'MILFORD SNOW', 61, 'Ohio', 'Gold Star', 'M', datetime.date(2013, 12, 25)),
 (100156, 'BRYAN PORTER', 35, 'Virginia', 'Platinum Star', 'M', datetime.date(2017, 10, 15)),
 (100157, 'ATLANTA PARKER', 98, 'Kentucky', 'Platinum Star', 'F', datetime.date(2012, 10, 21)),
 (100158, 'AGOURA GIBSON', 21, 'California', 'Silver Star', 'F', datetime.date(2019, 10, 25)),
 (100159, 'WINDSOR PROCTOR', 41, 'Florida', 'Silver Star', 'M', datetime.date(2016, 11, 15)),
 (100160, 'OCEANSIDE COPELAND', 59, 'New Jersey', 'Gold Star', 'F', datetime.date(2010, 10, 2)),
 (100161, 'REDAN GALLAGHER', 55, 'Maine', 'Silver Star', 'M', datetime.date(2017, 7, 9)),
 (100162, 'FILLMORE HORTON', 99, 'New York', 'Gold Star', 'F', datetime.date(2016, 9, 3)),
 (100163, 'EAST ZUNIGA', 27, 'Louisiana', 'Gold Star', 'M', datetime.date(2013, 3, 15)),
 (100164, 'PALATINE LEWIS', 73, 'New York', 'Platinum Star', 'F', datetime.date(2011, 8, 16)),
 (100165, 'FLORENCE TYLER', 26, 'North Carolina', 'Gold Star', 'F', datetime.date(2011, 3, 19)),
 (100166, 'AMHERST BALDWIN', 20, 'New Jersey', 'Silver Star', 'M', datetime.date(2011, 12, 10)),
 (100167, 'NORTH SLOAN', 65, 'Delaware', 'Gold Star', 'F', datetime.date(2015, 4, 24)),
 (100168, 'ORLAND AVALOS', 20, 'Georgia', 'Platinum Star', 'M', datetime.date(2014, 12, 17)),
 (100169, 'DESERT LEVY', 50, 'Texas', 'Platinum Star', 'M', datetime.date(2018, 3, 28)),
 (100170, 'LONGVIEW BUSH', 58, 'Maine', 'Platinum Star', 'F', datetime.date(2017, 6, 26)),
 (100171, 'CHEYENNE NICHOLSON', 88, 'Pennsylvania', 'Gold Star', 'F', datetime.date(2010, 1, 23)),
 (100172, 'ROCHESTER HULL', 99, 'Montana', 'Platinum Star', 'M', datetime.date(2015, 5, 29)),
 (100173, 'KENMORE LAMBERT', 86, 'Mississippi', 'Platinum Star', 'F', datetime.date(2018, 7, 7)),
 (100174, 'COVINGTON WILKERSON', 49, 'California', 'Platinum Star', 'M', datetime.date(2017, 8, 30)),
 (100175, 'HALLANDALE CHAMBERS', 51, 'New York', 'Silver Star', 'F', datetime.date(2013, 3, 26)),
 (100176, 'SAMMAMISH QUINTERO', 16, 'New Hampshire', 'Platinum Star', 'F', datetime.date(2011, 6, 7)),
 (100177, 'BELTON MARSH', 82, 'Colorado', 'Silver Star', 'M', datetime.date(2015, 5, 19)),
 (100178, 'RENO SCHNEIDER', 86, 'Virginia', 'Gold Star', 'M', datetime.date(2012, 3, 7)),
 (100179, 'KINGS MELTON', 19, 'Minnesota', 'Silver Star', 'F', datetime.date(2013, 2, 19)),
 (100180, 'GENEVA HOOD', 92, 'California', 'Silver Star', 'F', datetime.date(2015, 2, 19)),
 (100181, 'ISLIP LIU', 77, 'Illinois', 'Gold Star', 'M', datetime.date(2018, 12, 29)),
 (100182, 'LAKE CROSBY', 86, 'New Jersey', 'Gold Star', 'F', datetime.date(2016, 7, 5)),
 (100183, 'WEST OROZCO', 43, 'Illinois', 'Gold Star', 'M', datetime.date(2014, 11, 10)),
 (100184, 'JACKSON RUBIO', 81, 'Ohio', 'Gold Star', 'M', datetime.date(2014, 11, 18)),
 (100185, 'CORCORAN REYES', 22, 'Georgia', 'Gold Star', 'M', datetime.date(2012, 6, 9)),
 (100186, 'FERN BAKER', 27, 'New York', 'Gold Star', 'M', datetime.date(2017, 7, 4)),
 (100187, 'HOLLYWOOD PINEDA', 66, 'Illinois', 'Silver Star', 'M', datetime.date(2014, 9, 2)),
 (100188, 'ROLLING HARDIN', 65, 'North Carolina', 'Gold Star', 'M', datetime.date(2012, 2, 7)),
 (100189, 'OLYMPIA RICHARDSON', 81, 'Illinois', 'Silver Star', 'F', datetime.date(2016, 5, 27)),
 (100190, 'STREAMWOOD HUANG', 66, 'California', 'Platinum Star', 'M', datetime.date(2019, 5, 28)),
 (100191, 'FRANKFORT MILLS', 54, 'New Jersey', 'Gold Star', 'M', datetime.date(2018, 6, 1)),
 (100192, 'WAYNE BAILEY', 37, 'Pennsylvania', 'Gold Star', 'F', datetime.date(2011, 11, 14)),
 (100193, 'TALLMADGE SALGADO', 16, 'Kentucky', 'Bronze Star', 'F', datetime.date(2013, 1, 3)),
 (100194, 'PARKER OROZCO', 26, 'North Carolina', 'Platinum Star', 'M', datetime.date(2012, 12, 22)),
 (100195, 'CRANSTON WEBB', 79, 'Virginia', 'Gold Star', 'M', datetime.date(2016, 2, 8)),
 (100196, 'KINGSPORT LI', 38, 'Virginia', 'Silver Star', 'M', datetime.date(2017, 2, 17)),
 (100197, 'WINDHAM NAVARRO', 85, 'New Jersey', 'Platinum Star', 'M', datetime.date(2018, 3, 13)),
 (100198, 'VENICE SANCHEZ', 11, 'Delaware', 'Bronze Star', 'F', datetime.date(2013, 9, 8)),
 (100199, 'SAN ODOM', 37, 'South Carolina', 'Silver Star', 'M', datetime.date(2012, 5, 17)),
 (100200, 'PORTSMOUTH CISNEROS', 67, 'New York', 'Gold Star', 'F', datetime.date(2019, 1, 2)),
 (100201, 'WEYMOUTH TOWNSEND', 35, 'Kentucky', 'Silver Star', 'F', datetime.date(2011, 4, 7)),
 (100202, 'CARBONDALE NAVA', 12, 'Minnesota', 'Platinum Star', 'F', datetime.date(2010, 6, 13)),
 (100203, 'BEDFORD AGUILAR', 79, 'Maryland', 'Gold Star', 'M', datetime.date(2010, 12, 23)),
 (100204, 'REDWOOD MOON', 34, 'Wisconsin', 'Bronze Star', 'M', datetime.date(2018, 12, 5)),
 (100205, 'PITTSBURG OWEN', 27, 'Virginia', 'Silver Star', 'M', datetime.date(2015, 5, 12)),
 (100206, 'DEARBORN TANNER', 73, 'Illinois', 'Silver Star', 'M', datetime.date(2015, 1, 28)),
 (100207, 'OLNEY SOTO', 55, 'New York', 'Platinum Star', 'F', datetime.date(2016, 3, 10)),
 (100208, 'BOWIE THOMAS', 45, 'Kentucky', 'Silver Star', 'F', datetime.date(2013, 4, 2)),
 (100209, 'SILVER CHANDLER', 27, 'Virginia', 'Silver Star', 'M', datetime.date(2014, 5, 18)),
 (100210, 'POTOMAC ANDERSON', 100, 'Illinois', 'Silver Star', 'M', datetime.date(2019, 11, 12)),
 (100211, 'HOLIDAY BECKER', 13, 'Maryland', 'Silver Star', 'F', datetime.date(2012, 8, 15)),
 (100212, 'DENTON FRANCIS', 71, 'Colorado', 'Gold Star', 'M', datetime.date(2017, 8, 18)),

In [21]:
# close connection
engine.dispose()