In [2]:
# columns
# ID (to be created in SQL)
# member_id
# provider_id
# Code
# Type
# State
# network_status
# cost
# payout
# date_of_service

In [128]:
procedure_claims.head()

,Member_ID,Provider_ID,Code,Type,State,Network_Status,Cost,Payout,Date_Of_Service
0,107915,201006,DT0028,Dental,Massachusetts,In-network,56,44.80,2017-11-17
1,109770,200875,PC0471,Primary Care,Maine,In-network,11,10.12,2014-10-10
2,103881,200285,IM0316,Internal Medicine,Colorado,In-network,40,32.00,2013-10-02
3,105238,201814,OB0225,OBGYN,New York,In-network,625,243.75,2017-05-24
4,104786,201853,PE0209,Pediatrics,New York,In-network,800,640.00,2015-03-18

In [4]:
import datetime as dt
import numpy as np
import pandas as pd
import random

In [5]:
# create dataframe
procedure_claims= pd.DataFrame()

In [6]:
# 1. member_id and state

# import member_ID column from members table from MySQL to get list of IDs
# SQL connection
from sqlalchemy import create_engine
import pymysql

# estabish connection
engine = create_engine('mysql+pymysql://root:funny20!@#@localhost')

In [7]:
engine.execute("USE health_company;")

In [41]:
# read Member_ID column into a dataframe
df_member_id = pd.read_sql_query("select Member_ID, State from members;", con=engine)

In [57]:
# 2. provider_id, Network_Status, Type

# import Provider_ID , Network_Status column from 'providers' table in MySQL
df_prov_id = pd.read_sql_query("select Provider_ID , State, Network_Status, Type from providers;", con=engine)

In [58]:
# merge df_member_id and df_prov_id on State and take a random n=20000 sample
procedure_claims = pd.merge(df_member_id, df_prov_id, on="State", how='inner').sample(n=20000)

In [18]:
# 3. code cost

In [60]:
# import Code, Cost from procedures table in sql 
df_codes_cost = pd.read_sql_query('select Type, Code, Cost from procedures;', con=engine)

In [64]:
# merge procedure_claims with df_codes_cost and take a n=20000 random sample
procedure_claims = pd.merge(procedure_claims, df_codes_cost, on="Type").sample(n=20000)

In [21]:
# create list of 20000 randomly selected codes
codes = [random.choice(codes) for i in range(20000)]

In [23]:
# 4. inner join cost column to dataframe with .merge, reset the index, delete the old index column
procedure_claims = pd.merge(procedure_claims, df_codes_cost, on="Code")

In [104]:
procedure_claims = procedure_claims.reset_index()

In [107]:
del[procedure_claims['index']]

In [112]:
# 5. payout

# these will be weighted random fractions of the cost columns. We will assume 80/20 cost sharing, meaning .8 will
# have the highest weight among the fractions. 
def weighted_choice(objects, weights):
    """ returns a random element from the sequence of 'objects', 
        the likelihood of the objects is weighted according 
        to the sequence of 'weights', i.e. percentages."""

    weights = np.array(weights, dtype=np.float64)
    sum_of_weights = weights.sum()
    # standardization:
    np.multiply(weights, 1 / sum_of_weights, weights)
    weights = weights.cumsum()
    x = random.random()
    for i in range(len(weights)):
        if x < weights[i]:
            return objects[i]

# call weighted_choice function, where both 0.8 and a random number between 0,1 are equally likey to be chosen
rates = [weighted_choice([0.8, round(random.uniform(0,1),2)], [0.5, 0.5]) for i in range(20000)]

In [113]:
# initialize empty list payout and iterate through dataframe
payout = []
for i,j in procedure_claims.iterrows():
    # if in-network, multiply Cost and rates to get payout
    if j[3] == "In-network":
        payout += [procedure_claims['Cost'][i]*rates[i]]
    # otherwise, enter 0
    else:
        payout +=[0]

In [114]:
# insert into dataframe
procedure_claims['Payout'] = payout

In [70]:
# 6. date of service

In [115]:
# import enrollment date from MySQL to ensure that DOS comes after enrollment date
enr_list = list(pd.read_sql_query('select Enrollment_Date from members;', con=engine)['Enrollment_Date'])

In [116]:
# define function to ensure March 20 2020 is not exceeded
def march_20(a):
    a += dt.timedelta(days=random.randint(1,100))
    while a > dt.date(2020, 3, 20):
        a -= dt.timedelta(days=1)
    return a


dos = [march_20(i) for i in enr_list*2]

In [117]:
# insert into dataframe
procedure_claims["Date_Of_Service"] = dos

In [122]:
# set the column order
procedure_claims = procedure_claims[['Member_ID', 'Provider_ID','Code', 'Type', 'State', 'Network_Status', 'Cost', 'Payout', 'Date_Of_Service']]

In [124]:
# create table in MySQL
engine.execute('CREATE TABLE procedure_claims (\
                  Claim_ID INT NOT NULL AUTO_INCREMENT,\
                  Member_ID INT,\
                  Provider_ID INT,\
                  Code VARCHAR(6),\
                  Type VARCHAR(50),\
                  State VARCHAR(20),\
                  Network_Status VARCHAR(50),\
                  Cost INT,\
                  Payout DECIMAL(6,2),\
                  Date_Of_Service DATE,\
                  PRIMARY KEY(Claim_ID)\
              ) AUTO_INCREMENT = 400000;')

In [125]:
# insert data into table
procedure_claims.to_sql('procedure_claims', con=engine, if_exists='append', index=False)

In [126]:
engine.execute("select * from procedure_claims limit 100").fetchall()

[(400000, 107915, 201006, 'DT0028', 'Dental', 'Massachusetts', 'In-network', 56, Decimal('44.80'), datetime.date(2017, 11, 17)),
 (400001, 109770, 200875, 'PC0471', 'Primary Care', 'Maine', 'In-network', 11, Decimal('10.12'), datetime.date(2014, 10, 10)),
 (400002, 103881, 200285, 'IM0316', 'Internal Medicine', 'Colorado', 'In-network', 40, Decimal('32.00'), datetime.date(2013, 10, 2)),
 (400003, 105238, 201814, 'OB0225', 'OBGYN', 'New York', 'In-network', 625, Decimal('243.75'), datetime.date(2017, 5, 24)),
 (400004, 104786, 201853, 'PE0209', 'Pediatrics', 'New York', 'In-network', 800, Decimal('640.00'), datetime.date(2015, 3, 18)),
 (400005, 109103, 201802, 'NE0573', 'Neurology', 'New York', 'In-network', 20, Decimal('12.00'), datetime.date(2020, 3, 20)),
 (400006, 102261, 202027, 'PE0237', 'Pediatrics', 'North Carolina', 'In-network', 44, Decimal('35.20'), datetime.date(2011, 9, 19)),
 (400007, 107767, 202297, 'DE0526', 'Dermatology', 'Pennsylvania', 'Out-of-network', 39, Decimal('0.00'), datetime.date(2016, 3, 7)),
 (400008, 108531, 201666, 'BH0180', 'Behavioral Health', 'New York', 'In-network', 76, Decimal('68.40'), datetime.date(2014, 4, 25)),
 (400009, 106289, 201436, 'OD0540', 'Orthodontics', 'New Hampshire', 'In-network', 48, Decimal('38.40'), datetime.date(2016, 4, 25)),
 (400010, 106183, 201575, 'PE0338', 'Pediatrics', 'New Jersey', 'In-network', 25, Decimal('20.00'), datetime.date(2015, 10, 9)),
 (400011, 103654, 202267, 'CA0540', 'Cardiology', 'Pennsylvania', 'In-network', 875, Decimal('700.00'), datetime.date(2015, 8, 31)),
 (400012, 106033, 200864, 'OD0465', 'Orthodontics', 'Maine', 'In-network', 800, Decimal('640.00'), datetime.date(2018, 9, 25)),
 (400013, 104763, 202398, 'PT0156', 'Physical Therapy', 'Pennsylvania', 'In-network', 54, Decimal('52.38'), datetime.date(2019, 1, 10)),
 (400014, 104742, 201526, 'IM0493', 'Internal Medicine', 'New Jersey', 'In-network', 825, Decimal('660.00'), datetime.date(2017, 7, 17)),
 (400015, 108605, 202425, 'UC0404', 'Urgent Care', 'Pennsylvania', 'Out-of-network', 5, Decimal('0.00'), datetime.date(2017, 4, 29)),
 (400016, 103867, 202316, 'DM0344', 'Durable Medical Equipment', 'Pennsylvania', 'In-network', 16, Decimal('8.48'), datetime.date(2018, 11, 5)),
 (400017, 101262, 201294, 'HO0422', 'Hospital', 'Missouri', 'In-network', 97, Decimal('77.60'), datetime.date(2014, 7, 4)),
 (400018, 104320, 200780, 'VI0027', 'Vision', 'Kentucky', 'In-network', 98, Decimal('85.26'), datetime.date(2010, 11, 25)),
 (400019, 106686, 201571, 'OD0026', 'Orthodontics', 'New Jersey', 'In-network', 58, Decimal('46.40'), datetime.date(2019, 6, 20)),
 (400020, 105137, 201725, 'DE0321', 'Dermatology', 'New York', 'In-network', 77, Decimal('61.60'), datetime.date(2019, 4, 23)),
 (400021, 104543, 201587, 'PT0623', 'Physical Therapy', 'New Jersey', 'In-network', 15, Decimal('13.35'), datetime.date(2013, 4, 14)),
 (400022, 106090, 202825, 'OD0210', 'Orthodontics', 'Virginia', 'In-network', 82, Decimal('65.60'), datetime.date(2019, 7, 18)),
 (400023, 100835, 201943, 'VI0579', 'Vision', 'New York', 'In-network', 375, Decimal('18.75'), datetime.date(2019, 11, 14)),
 (400024, 109461, 201130, 'PC0359', 'Primary Care', 'Massachusetts', 'In-network', 73, Decimal('58.40'), datetime.date(2012, 3, 30)),
 (400025, 108842, 202009, 'OB0372', 'OBGYN', 'North Carolina', 'In-network', 200, Decimal('128.00'), datetime.date(2013, 1, 13)),
 (400026, 101744, 201565, 'OC0236', 'Oncology', 'New Jersey', 'In-network', 9, Decimal('5.31'), datetime.date(2017, 7, 23)),
 (400027, 104665, 200161, 'DT0223', 'Dental', 'California', 'Out-of-network', 250, Decimal('0.00'), datetime.date(2013, 10, 25)),
 (400028, 106624, 202292, 'DE0265', 'Dermatology', 'Pennsylvania', 'In-network', 43, Decimal('34.40'), datetime.date(2015, 8, 29)),
 (400029, 104868, 200209, 'OC0181', 'Oncology', 'California', 'In-network', 84, Decimal('81.48'), datetime.date(2018, 10, 23)),
 (400030, 106516, 202835, 'PT0006', 'Physical Therapy', 'Virginia', 'In-network', 54, Decimal('21.60'), datetime.date(2011, 1, 16)),
 (400031, 107574, 201882, 'PT0624', 'Physical Therapy', 'New York', 'In-network', 275, Decimal('220.00'), datetime.date(2017, 2, 28)),
 (400032, 101069, 201879, 'PT0531', 'Physical Therapy', 'New York', 'In-network', 99, Decimal('51.48'), datetime.date(2017, 8, 1)),
 (400033, 103729, 201729, 'DE0422', 'Dermatology', 'New York', 'In-network', 400, Decimal('320.00'), datetime.date(2016, 2, 12)),
 (400034, 103576, 202443, 'VI0153', 'Vision', 'Pennsylvania', 'In-network', 300, Decimal('294.00'), datetime.date(2013, 8, 9)),
 (400035, 100025, 201868, 'PE0389', 'Pediatrics', 'New York', 'In-network', 27, Decimal('15.93'), datetime.date(2012, 6, 14)),
 (400036, 105574, 202338, 'NE0372', 'Neurology', 'Pennsylvania', 'In-network', 600, Decimal('480.00'), datetime.date(2012, 1, 5)),
 (400037, 105575, 202873, 'DT0299', 'Dental', 'Washington', 'In-network', 88, Decimal('52.80'), datetime.date(2020, 1, 10)),
 (400038, 107545, 201726, 'DE0364', 'Dermatology', 'New York', 'In-network', 875, Decimal('682.50'), datetime.date(2018, 11, 3)),
 (400039, 103055, 200172, 'DE0222', 'Dermatology', 'California', 'In-network', 41, Decimal('1.64'), datetime.date(2016, 8, 19)),
 (400040, 108922, 201612, 'UC0099', 'Urgent Care', 'New Jersey', 'In-network', 150, Decimal('120.00'), datetime.date(2012, 10, 3)),
 (400041, 105163, 202407, 'PC0153', 'Primary Care', 'Pennsylvania', 'In-network', 20, Decimal('12.80'), datetime.date(2017, 3, 28)),
 (400042, 100768, 201806, 'NE0196', 'Neurology', 'New York', 'In-network', 39, Decimal('35.88'), datetime.date(2012, 1, 2)),
 (400043, 107763, 201833, 'OC0160', 'Oncology', 'New York', 'In-network', 36, Decimal('28.80'), datetime.date(2013, 5, 1)),
 (400044, 102440, 202427, 'UC0595', 'Urgent Care', 'Pennsylvania', 'In-network', 150, Decimal('16.50'), datetime.date(2012, 12, 6)),
 (400045, 102237, 201042, 'IM0102', 'Internal Medicine', 'Massachusetts', 'In-network', 35, Decimal('7.70'), datetime.date(2012, 12, 1)),
 (400046, 105717, 200237, 'PT0280', 'Physical Therapy', 'California', 'Out-of-network', 51, Decimal('0.00'), datetime.date(2011, 1, 31)),
 (400047, 105106, 202449, 'CA0129', 'Cardiology', 'Rhode Island', 'In-network', 7, Decimal('3.50'), datetime.date(2018, 4, 16)),
 (400048, 104128, 200512, 'OC0151', 'Oncology', 'Georgia', 'Out-of-network', 72, Decimal('0.00'), datetime.date(2011, 1, 19)),
 (400049, 107549, 201923, 'UC0386', 'Urgent Care', 'New York', 'Out-of-network', 65, Decimal('0.00'), datetime.date(2018, 7, 8)),
 (400050, 106345, 202365, 'OD0362', 'Orthodontics', 'Pennsylvania', 'In-network', 38, Decimal('30.40'), datetime.date(2016, 9, 1)),
 (400051, 109530, 202274, 'CA0466', 'Cardiology', 'Pennsylvania', 'In-network', 32, Decimal('32.00'), datetime.date(2019, 4, 17)),
 (400052, 106342, 201878, 'PT0062', 'Physical Therapy', 'New York', 'In-network', 84, Decimal('67.20'), datetime.date(2014, 8, 10)),
 (400053, 108322, 201547, 'OB0129', 'OBGYN', 'New Jersey', 'In-network', 3, Decimal('0.90'), datetime.date(2015, 5, 4)),
 (400054, 102299, 201847, 'OD0410', 'Orthodontics', 'New York', 'In-network', 425, Decimal('340.00'), datetime.date(2020, 3, 20)),
 (400055, 103447, 202259, 'BH0327', 'Behavioral Health', 'Pennsylvania', 'Out-of-network', 72, Decimal('0.00'), datetime.date(2019, 7, 21)),
 (400056, 105911, 201731, 'DE0199', 'Dermatology', 'New York', 'In-network', 56, Decimal('30.80'), datetime.date(2010, 3, 24)),
 (400057, 104410, 201131, 'PC0085', 'Primary Care', 'Massachusetts', 'In-network', 675, Decimal('540.00'), datetime.date(2017, 12, 18)),
 (400058, 106340, 202269, 'CA0030', 'Cardiology', 'Pennsylvania', 'In-network', 150, Decimal('88.50'), datetime.date(2016, 7, 14)),
 (400059, 108245, 201524, 'IM0312', 'Internal Medicine', 'New Jersey', 'In-network', 59, Decimal('47.20'), datetime.date(2017, 11, 6)),
 (400060, 109483, 201198, 'VI0600', 'Vision', 'Michigan', 'In-network', 525, Decimal('420.00'), datetime.date(2018, 1, 3)),
 (400061, 108278, 201933, 'VI0282', 'Vision', 'New York', 'In-network', 49, Decimal('47.04'), datetime.date(2020, 3, 20)),
 (400062, 105962, 202426, 'UC0408', 'Urgent Care', 'Pennsylvania', 'In-network', 47, Decimal('5.17'), datetime.date(2011, 1, 7)),
 (400063, 102651, 200148, 'CA0370', 'Cardiology', 'California', 'In-network', 43, Decimal('34.40'), datetime.date(2011, 3, 28)),
 (400064, 107601, 202394, 'PE0484', 'Pediatrics', 'Pennsylvania', 'In-network', 49, Decimal('39.20'), datetime.date(2018, 8, 13)),
 (400065, 105258, 201765, 'HO0494', 'Hospital', 'New York', 'In-network', 86, Decimal('16.34'), datetime.date(2018, 9, 2)),
 (400066, 106340, 202269, 'CA0571', 'Cardiology', 'Pennsylvania', 'In-network', 625, Decimal('37.50'), datetime.date(2019, 10, 28)),
 (400067, 105379, 201601, 'PC0361', 'Primary Care', 'New Jersey', 'In-network', 525, Decimal('420.00'), datetime.date(2015, 2, 12)),
 (400068, 105038, 202357, 'OC0080', 'Oncology', 'Pennsylvania', 'In-network', 225, Decimal('180.00'), datetime.date(2014, 8, 26)),
 (400069, 105081, 202824, 'OD0430', 'Orthodontics', 'Virginia', 'In-network', 47, Decimal('37.60'), datetime.date(2012, 8, 31)),
 (400070, 101004, 201988, 'HO0211', 'Hospital', 'North Carolina', 'In-network', 925, Decimal('259.00'), datetime.date(2011, 10, 2)),
 (400071, 108162, 200234, 'PT0409', 'Physical Therapy', 'California', 'In-network', 46, Decimal('36.80'), datetime.date(2019, 1, 11)),
 (400072, 107304, 201790, 'NE0601', 'Neurology', 'New York', 'In-network', 71, Decimal('56.80'), datetime.date(2013, 1, 17)),
 (400073, 103690, 201684, 'CA0135', 'Cardiology', 'New York', 'In-network', 175, Decimal('29.75'), datetime.date(2015, 4, 18)),
 (400074, 106955, 200994, 'CA0100', 'Cardiology', 'Massachusetts', 'In-network', 775, Decimal('620.00'), datetime.date(2010, 10, 5)),
 (400075, 106571, 200326, 'UC0249', 'Urgent Care', 'Colorado', 'In-network', 225, Decimal('209.25'), datetime.date(2015, 11, 20)),
 (400076, 108397, 202879, 'DE0006', 'Dermatology', 'Washington', 'In-network', 88, Decimal('70.40'), datetime.date(2014, 2, 13)),
 (400077, 100498, 201737, 'DE0378', 'Dermatology', 'New York', 'In-network', 150, Decimal('61.50'), datetime.date(2016, 4, 26)),
 (400078, 105217, 201516, 'HO0415', 'Hospital', 'New Jersey', 'In-network', 91, Decimal('72.80'), datetime.date(2017, 6, 27)),
 (400079, 109963, 200100, 'PC0137', 'Primary Care', 'Arizona', 'Out-of-network', 875, Decimal('0.00'), datetime.date(2014, 12, 18)),
 (400080, 103722, 201762, 'HO0225', 'Hospital', 'New York', 'In-network', 675, Decimal('540.00'), datetime.date(2011, 3, 12)),
 (400081, 101119, 202316, 'DM0292', 'Durable Medical Equipment', 'Pennsylvania', 'In-network', 250, Decimal('200.00'), datetime.date(2015, 3, 22)),
 (400082, 107339, 201718, 'DT0200', 'Dental', 'New York', 'In-network', 7, Decimal('0.07'), datetime.date(2017, 12, 7)),
 (400083, 100081, 201113, 'PE0666', 'Pediatrics', 'Massachusetts', 'In-network', 675, Decimal('222.75'), datetime.date(2019, 12, 13)),
 (400084, 100224, 201775, 'IM0338', 'Internal Medicine', 'New York', 'In-network', 24, Decimal('19.20'), datetime.date(2017, 9, 1)),
 (400085, 104932, 200966, 'PC0626', 'Primary Care', 'Maryland', 'In-network', 20, Decimal('7.20'), datetime.date(2018, 11, 26)),
 (400086, 103583, 201564, 'OC0322', 'Oncology', 'New Jersey', 'Out-of-network', 41, Decimal('0.00'), datetime.date(2010, 8, 20)),
 (400087, 102997, 202766, 'DE0255', 'Dermatology', 'Virginia', 'In-network', 400, Decimal('320.00'), datetime.date(2014, 1, 27)),
 (400088, 106236, 200169, 'DE0482', 'Dermatology', 'California', 'In-network', 44, Decimal('16.72'), datetime.date(2014, 1, 2)),
 (400089, 107013, 202087, 'BH0002', 'Behavioral Health', 'Ohio', 'In-network', 42, Decimal('16.80'), datetime.date(2015, 10, 31)),
 (400090, 104127, 202392, 'PE0140', 'Pediatrics', 'Pennsylvania', 'In-network', 125, Decimal('100.00'), datetime.date(2011, 7, 1)),
 (400091, 102157, 202252, 'BH0368', 'Behavioral Health', 'Pennsylvania', 'In-network', 18, Decimal('12.60'), datetime.date(2012, 6, 20)),
 (400092, 102823, 201114, 'PT0325', 'Physical Therapy', 'Massachusetts', 'In-network', 150, Decimal('120.00'), datetime.date(2013, 5, 2)),
 (400093, 105373, 200171, 'DE0488', 'Dermatology', 'California', 'In-network', 38, Decimal('30.40'), datetime.date(2010, 4, 23)),
 (400094, 102964, 201673, 'BH0053', 'Behavioral Health', 'New York', 'In-network', 57, Decimal('10.26'), datetime.date(2011, 3, 21)),
 (400095, 104921, 201698, 'CA0071', 'Cardiology', 'New York', 'Out-of-network', 12, Decimal('0.00'), datetime.date(2019, 5, 14)),
 (400096, 109512, 201855, 'PE0526', 'Pediatrics', 'New York', 'In-network', 85, Decimal('34.85'), datetime.date(2015, 6, 18)),
 (400097, 100655, 201480, 'DT0386', 'Dental', 'New Jersey', 'In-network', 37, Decimal('29.60'), datetime.date(2020, 2, 16)),
 (400098, 100721, 201492, 'DE0353', 'Dermatology', 'New Jersey', 'In-network', 88, Decimal('36.96'), datetime.date(2012, 3, 14)),
 (400099, 107444, 202975, 'VI0304', 'Vision', 'Wisconsin', 'In-network', 550, Decimal('440.00'), datetime.date(2011, 6, 16))]

In [127]:
engine.dispose()