In [1]:
# create a table containing 10000 medical procedures/services

In [2]:
# columns
    # code (format: AB####; where AB are the letters signifying the procedure/service type, # is a number)
    # type (reated to type of medicine)
    # cost

In [3]:
import numpy as np
import pandas as pd
import random 
from collections import Counter

In [4]:
# types of medicine
types_dict = {"Behavioral Health": "BH","Cardiology":"CA", "Dental":"DT","Dermatology":"DE",\
        "Durable Medical Equipment":"DM","Hospital":"HO","Internal Medicine":"IM",\
        "Neurology":"NE","OBGYN":"OB", "Oncology":"OC","Orthodontics":"OD","Pediatrics":"PE",\
        "Physical Therapy":"PT","Primary Care":"PC","Urgent Care":"UC","Vision":"VI"}

In [5]:
# create dataframe
procedures = pd.DataFrame()

In [6]:
# codes

# get list of abbreviations
abb = list(types_dict.values())
abb_list = [random.choice(abb)+str() for i in range(10000)]
abb_list.sort()

In [7]:
# create dictionary abb_counts to determine how many of each type of code is in abb_list
abb_counts = Counter(abb_list)

In [8]:
# create a list of each code abbreviation addeed to each value of a range with the length of each count in abb_counts
codes_raw = []

for i,j in abb_counts.items():
    for k in range(1,j+1):
        codes_raw += [f"{i}{k}"]

In [9]:
# create codes list

codes = []
for i in codes_raw:
    i_front = i[:2]
    i_end = i[2:]
    if len(i_end) < 4:
        while len(i_end) < 4:
            i_end = str(0)+i_end
    i = i_front+i_end
    codes += [i]

In [10]:
# type

types = []
# iterate through codes list and locate type appreviation with string slicing
for i in codes:
    i_front = i[:2]
    # refer to types_dict to get the full type name using the i_front abbrevation and add it to types list
    for a,b in types_dict.items():
        if i_front == b:
            types += [a]

In [11]:
# create price list - these will be arbitray values. These are NOT intended to reflect acutal product 
# retail prices, copays, etc. It is merely as an exercise to attach an arbitrary price to each drug.
prices = list(range(1,100,1)) + list(range(100,1000,25))
prices = [random.choice(prices) for i in range(len(codes))]

In [12]:
# insert lists into dataframe
procedures["Code"] = codes
procedures["Type"] = types
procedures['Cost'] = prices

In [13]:
procedures.head()

     Code               Type  Cost
0  BH0001  Behavioral Health    57
1  BH0002  Behavioral Health    42
2  BH0003  Behavioral Health    58
3  BH0004  Behavioral Health    51
4  BH0005  Behavioral Health    54

In [14]:
# SQL create table and insert
from sqlalchemy import create_engine
import pymysql

engine = create_engine('mysql+pymysql://root:funny20!@#@localhost')

In [15]:
engine.execute('use health_company;')

In [16]:
# write directly to MySQL
procedures.to_sql('procedures', con=engine, index=False)

In [17]:
engine.execute("show tables;").fetchall()

[('members',), ('pharmacies',), ('procedures',), ('providers',)]

In [18]:
engine.execute("select * from procedures limit 10;").fetchall()

[('BH0001', 'Behavioral Health', 57),
 ('BH0002', 'Behavioral Health', 42),
 ('BH0003', 'Behavioral Health', 58),
 ('BH0004', 'Behavioral Health', 51),
 ('BH0005', 'Behavioral Health', 54),
 ('BH0006', 'Behavioral Health', 84),
 ('BH0007', 'Behavioral Health', 13),
 ('BH0008', 'Behavioral Health', 325),
 ('BH0009', 'Behavioral Health', 95),
 ('BH0010', 'Behavioral Health', 96)]

In [19]:
engine.dispose()