In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import random

In [2]:
# columns

# state
# medical_cost_share
# rx_cost_share

In [3]:
df_states = pd.DataFrame()

In [4]:
# 1. state colmns (company operates in the entire US, but primarily in the NE)
states_list = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [5]:
# 2. medical_cost_share
medical_cost_share = [random.randint(80,90)/100 for i in states_list]

In [6]:
# 3. rx_cost_share (will not be lower than medical)
def rx_value(num_list):
    """num_list is a list of numerical values"""
    result = [random.randint(80,95)/100 for i in num_list]
    for i in range(len(result)):
        while result[i] < num_list[i]:
            result[i] += 0.01
    result = [round(i,2) for i in result]
    return result
rx_cost_share = rx_value(medical_cost_share)

In [7]:
# insert into dataframe
df_states["State"] = states_list
df_states["Medical_Cost_Share"] = medical_cost_share
df_states["Rx_Cost_Share"] = rx_cost_share

In [8]:
# import member_ID column from members table from MySQL to get list of IDs
# SQL connection
from sqlalchemy import create_engine
import pymysql

# estabish connection
engine = create_engine('mysql+pymysql://root:funny20!@#@localhost')

In [9]:
engine.execute('USE health_company;')

In [10]:
engine.execute('CREATE TABLE states (\
    State VARCHAR(20),\
    Medical_Cost_Share DECIMAL(3,2),\
    Rx_Cost_Share DECIMAL(3,2)\
    );')

In [11]:
df_states.to_sql('states', con=engine, if_exists='append', index=False)

In [12]:
engine.execute('select * from states;').fetchall()

[('Alabama', Decimal('0.87'), Decimal('0.90')),
 ('Alaska', Decimal('0.85'), Decimal('0.93')),
 ('Arizona', Decimal('0.81'), Decimal('0.90')),
 ('Arkansas', Decimal('0.84'), Decimal('0.84')),
 ('California', Decimal('0.81'), Decimal('0.81')),
 ('Colorado', Decimal('0.80'), Decimal('0.91')),
 ('Connecticut', Decimal('0.84'), Decimal('0.84')),
 ('Delaware', Decimal('0.90'), Decimal('0.90')),
 ('Florida', Decimal('0.85'), Decimal('0.85')),
 ('Georgia', Decimal('0.80'), Decimal('0.84')),
 ('Hawaii', Decimal('0.82'), Decimal('0.84')),
 ('Idaho', Decimal('0.82'), Decimal('0.84')),
 ('Illinois', Decimal('0.85'), Decimal('0.85')),
 ('Indiana', Decimal('0.82'), Decimal('0.89')),
 ('Iowa', Decimal('0.86'), Decimal('0.86')),
 ('Kansas', Decimal('0.81'), Decimal('0.81')),
 ('Kentucky', Decimal('0.87'), Decimal('0.91')),
 ('Louisiana', Decimal('0.82'), Decimal('0.86')),
 ('Maine', Decimal('0.87'), Decimal('0.92')),
 ('Maryland', Decimal('0.90'), Decimal('0.92')),
 ('Massachusetts', Decimal('0.90'), Decimal('0.90')),
 ('Michigan', Decimal('0.83'), Decimal('0.93')),
 ('Minnesota', Decimal('0.83'), Decimal('0.92')),
 ('Mississippi', Decimal('0.83'), Decimal('0.85')),
 ('Missouri', Decimal('0.89'), Decimal('0.91')),
 ('Montana', Decimal('0.84'), Decimal('0.86')),
 ('Nebraska', Decimal('0.85'), Decimal('0.85')),
 ('Nevada', Decimal('0.80'), Decimal('0.85')),
 ('New Hampshire', Decimal('0.88'), Decimal('0.92')),
 ('New Jersey', Decimal('0.89'), Decimal('0.89')),
 ('New Mexico', Decimal('0.86'), Decimal('0.88')),
 ('New York', Decimal('0.81'), Decimal('0.95')),
 ('North Carolina', Decimal('0.82'), Decimal('0.83')),
 ('North Dakota', Decimal('0.89'), Decimal('0.89')),
 ('Ohio', Decimal('0.86'), Decimal('0.86')),
 ('Oklahoma', Decimal('0.82'), Decimal('0.94')),
 ('Oregon', Decimal('0.85'), Decimal('0.94')),
 ('Pennsylvania', Decimal('0.81'), Decimal('0.87')),
 ('Rhode Island', Decimal('0.87'), Decimal('0.87')),
 ('South Carolina', Decimal('0.82'), Decimal('0.93')),
 ('South Dakota', Decimal('0.81'), Decimal('0.83')),
 ('Tennessee', Decimal('0.90'), Decimal('0.90')),
 ('Texas', Decimal('0.89'), Decimal('0.89')),
 ('Utah', Decimal('0.87'), Decimal('0.90')),
 ('Vermont', Decimal('0.82'), Decimal('0.82')),
 ('Virginia', Decimal('0.90'), Decimal('0.90')),
 ('Washington', Decimal('0.80'), Decimal('0.81')),
 ('West Virginia', Decimal('0.85'), Decimal('0.91')),
 ('Wisconsin', Decimal('0.85'), Decimal('0.95')),
 ('Wyoming', Decimal('0.90'), Decimal('0.90'))]

In [13]:
engine.dispose()